<!DOCTYPE html>
<html>
<head>
	<title>3-4. Vue Lists</title>
	<!-- Vue JS Framework linked through unpkg found at : https://vuejs.org/v2/guide/installation.html-->
	<script type="text/javascript" src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
	<div id='root'>
		<ul>
			<li v-for='name in names' v-text='name'></li>
		</ul>

		<input type="text" v-model="new_name">
		<button @click="addName">Add Name</button>
	</div>

	<script type="text/javascript">
		var app = new Vue({
			el: '#root',
			data: {
				new_name: '',
				names: ['Joe', 'Mary', 'Jane', 'Jack']
			},
			//New Way via Vue
			methods : {
				addName() {
					this.names.push(this.new_name);
					this.new_name = '';
					this.new_name.focus = true;
				}
			},
			mounted() {
				// Old way of doing this via diving into dom
				// document.querySelector('#submit').addEventListener('click', () => {
				// 	let input = document.querySelector('#input'); 
				// 	let name = input.value;
				// 	app.names.push(name);
				// 	input.value = '';

				// });
			},


		});

		
	</script>
</body>
</html>